{#ESTO ES UN COMENTARIO#}
{#Plantilla de nuestra app#}

{% extends 'base.html.twig' %}

{# TITULO #}
{% block titulo%}Pagina principal{% endblock %}

{#CONTENIDO#}
{% block contenido %}

<h1>Pagina principal de nuestra App</h1>

{% endblock %}
