
{#Plantilla de nuestra app#}

{% extends 'base.html.twig' %}

{# TITULO #}
{% block titulo%}Proyectos{% endblock %}

{#CONTENIDO#}
{% block contenido %}

<!-- Contenido de la pagina -->
<div class="container">

    <!-- Cabezero de la pagina-->
    <h1 class="mt-4 mb-3">Todos los proyectos
      <small>Público</small>
    </h1>
    
  
      <!-- Imagen del cabecero -->
    <img class="img-fluid rounded mb-4" src="{{asset('img/projects.jpg')}}" alt="">
    <div class="row">
      {% for proyecto in proyectos %}
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">{{proyecto.nombre}}</h4>
          <div class="card-body">
            <p class="card-text">{{proyecto.descripcion}}</p>
          </div>
          <div class="card-footer">
            <a href="{{path('proyecto',{'id':proyecto.id})}}" class="btn btn-primary"> Ver detalles</a>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
</div>
 {% endblock %}
  

