
{#Plantilla de nuestra app#}

{% extends 'base.html.twig' %}

{# TITULO #}
{% block titulo%}Proyectos{% endblock %}

{#CONTENIDO#}
{% block contenido %}

<!-- Contenido de la pagina -->
<div class="container">

    <!-- Cabezero de la pagina-->
    <h1 class="mt-4 mb-3">Todos los proyectos
      <small>Subheading</small>
    </h1>
    </div>
  
      <!-- Imagen del cabecero -->
      <img class="img-fluid rounded mb-4" src="http://placehold.it/1200x300" alt="">

{% endblock %}