{#Plantilla de nuestra app#}

{% extends 'base.html.twig' %}

{# TITULO #}
{% block titulo%}Todos los usuarios{% endblock %}

{#CONTENIDO#}
{% block contenido %}

<!-- Contenido de la pagina -->
<div class="container">

    <!-- Cabezero de la pagina-->
    <h1 class="mt-4 mb-3">Todos los usuarios
      <small>Admin</small>
    </h1>
    
  
      <!-- Imagen del cabecero -->
    <img class="img-fluid rounded mb-4" src="{{asset('img/projects.jpg')}}" alt="">
    <div class="row">
      {% for usuario in usuarios %}
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">{{(usuario.nombre)}}
            <br>{{(usuario.apellido)}}
          </h4>
          <div class="card-body">
            <p class="card-text">Rol: {% if usuario.rol == 1 %}
                Administrador
                {% elseif usuario.rol == 2 %}
                Usuario general
                {% else %}
                Auditor
                {% endif %}</p>
          </div>
          <div class="card-footer">
            <a href="{{path('usuario',{'id':usuario.id})}}" class="btn btn-primary"> Ver detalles</a>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
</div>
 {% endblock %}
  

